target/
demo-angular2.iml
demo-angular2.ipr
demo-angular2.iws
src/main/resources/static/app/*.js
src/main/resources/static/app/*.js.map
src/main/resources/static/node_modules
.DS_Store
src/main/resources/static/typings/

